
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">

          <h4 class="mb-4 cart-color col-3 text-center text-color rounded-pill pb-2 pt-2">マイページ</h4>
          <h4 class="font-weight-bold">登録情報 <%= link_to "編集する",  edit_public_customer_path(@customer.id) , class: 'btn btn-primary' %></h4>
      </div>
          <table class="table table-bordered border-dark col-6 mt-3 mb-5">
              <tr>
                  <th class="table-active col-2 table-color">氏名</th>
                  <th class="col-4"><%= @customer.last_name%><%= @customer.first_name %></th>
              </tr>
              <tr>
                  <th class="table-active table-color">カナ</th>
                  <th><%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
              </tr>
              <tr>
                  <th class="table-active table-color">郵便番号</th>
                  <th><%= @customer.postal_code %></th>
              </tr>
              <tr>
                  <th class="table-active table-color">住所</th>
                  <th><%= @customer.address %></th>
              </tr>
              <tr>
                  <th class="table-active table-color">電話番号</th>
                  <th><%= @customer.telephone_number %></th>
              </tr>
              <tr>
                  <th class="table-active table-color">メールアドレス</th>
                  <th><%= @customer.email %></th>
              </tr>
          </table>

          <div class="col-6 mypage_image"></div>
      <div class="col-12">
          <h4 class="font-weight-bold">配送先 <%= link_to "一覧を見る", public_addresses_path , class: 'btn btn-primary col-2' %></h4>

          <h4 class="font-weight-bold mb-4">注文履歴 <%= link_to "一覧を見る",  public_orders_path , class: 'btn btn-primary col-2' %></h4>

      </div>
    </div>
  </div>
</body>