 <%= flash[:alert] %>
           <div class="container mt-3">

              <h1 class="welcome_cake">ようこそ、ながのCAKEへ！</h1>
            <p class="welcome_text">
              このサイトは、ケーキ販売のECサイトになります。</br>
              会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。
            </p>
          </div
          >
     <div class="container mt-3">
       <h3 class="text-color text-center col-3 pt-2 pb-2 rounded-pill"><strong>新着商品</strong></h3>
       <div class="row">
        <% @items.last(4).reverse.each do |item| %>
        <div class="card-group">
          <div class ="card card border-light mb-3 ml-2 mr-2">
            <div class ="card-img-top">
              <% if item.image.attached? %>
              <%=image_tag item.image, size: "200x200" %>
              <% else %>
              <%= image_tag 'no_image', size: "200x200" %>
              <% end %>
            </div>
                  <div class="card-body">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text">
                   ¥<%= item.add_tax_sales_price.to_s(:dalimited) %>
                  </p>
              </div>
              </div>
            </div>
                  <% end %>
                  <div class="container mt-3 " >
                      <%= link_to "全ての商品を見る？>", public_items_path, class: "btn-primary font-weight-bold text-end" %>
                    </div>


         </div>
      </div>