<div class="container">
  <div class="row">
    <div class="admin-heading col-3">
      <h2 class="mb-4 pt-3 pb-3 text-center">会員一覧</h2>
    </div>
    <div class="col-8 mx-auto">
      <table class="table table-hover rounded-top rounded-bottom table_border_radius admin-customer-table">
        <thead class="thead-dark">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
             <%= link_to admin_customer_path(customer.id) do %>
             <%= customer.last_name %><%=customer.first_name %>
             <% end %>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted  %>
            <p class="text-secondary">退会</p></br>
            <% else %>
            <p class="text-success">有効</p></br>
            <% end %>
              </td>
            </td>
          </tr>
          <% end %>
          <%= paginate @customers %>
        </tbody>
      </table>

    </div>
  </div>
</div>