<div class="container">
    <div class="row">
      <div class="admin-heading col-12">
        <h2 class="mb-4 pt-3 pb-3 text-center"><%= "#{@customer.last_name}""#{@customer.first_name}" %>さんの会員詳細</h2>
      </div>
      <div class="col-8 mx-auto mb-5 admin-customer-show">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>会員ID</th>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <th>氏名</th>
              <td><%= @customer.last_name %> <%= @customer.first_name %></td>
            </tr>
            <tr>
              <th>フリガナ</th>
              <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td><%= @customer.postal_code %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= @customer.address %></td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td><%= @customer.telephone_number %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= @customer.email %></td>
            </tr>
            <tr>
              <th>会員ステータス</th>
              <td>
                
                <% if @customer.is_deleted  %>
                <p class="text-secondary">無効</p></br>
                <% else %>
                <p class="text-success">有効</p></br>
                <% end %>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
                <%= link_to "注文履歴一覧を見る", "", class: "btn btn-primary" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>