<body>
  <div class="container">

    <div class="row mb-3">
      
        <h4 class="mb-4 text-color col-md-3 text-center pt-4 rounded-pill">注文履歴詳細</h4>
        <div class="col-7 order_show_image offset-1"></div>

    </div>
          <div class="row">
            <div class="col-7"><p class="font-weight-bold">注文情報</p></div>
            <div class="col-3"><p class="font-weight-bold ml-3">請求情報</p></div>
          <table class="table table-bordered border-dark col-7">

                  <tr>
                      <th class="table-active table-color col-3">注文日</th>
                      <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
                  </tr>
                  <tr>
                    <th class="table-active table-color">配送先</th>
                    <th><%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></th>
                  </tr>
                  <tr>
                    <th class="table-active table-color">支払い方法</th>
                    <th><%= @order.payment_method_i18n %></th>
                  </tr><tr>
                    <th class="table-active table-color">ステータス</th>
                    <th><%= @order.status %></th>
                  </tr>
          </table>
          <table class="table table-bordered border-dark col-3 ml-3 h-75">
                  <tr>
                      <th class="table-active table-color">表品合計</th>
                      <th><%= @order.total_payment - @order.shopping_cost %>円</th>
                  </tr>
                  <tr>
                    <th class="table-active table-color">配送料</th>
                    <th><%= @order.shopping_cost %>円</th>
                  </tr>
                  <tr>
                    <th class="table-active table-color">ご請求額</th>
                    <th><%= @order.total_payment  %>円</th>
                  </tr>
          </table>
          </div>
          
          <div class="row"><p class="font-weight-bold table-color">注文内容</p></div>
          <table class="table table-bordered border-dark col-9 mt-3 mb-5">
              <tr class="table-color">
                  <th class="table-active  col-6">商品</th>
                  <th class="table-active">単価（税込）</th>
                  <th class="table-active">個数</th>
                  <th class="table-active">小計</th>
                  </tr>
                  <% @order_details.each do |order_detail| %>
                  <tr>
                  <th><%= order_detail.item.name %></th>
                  <th><%= order_detail.price %>円</th>
                  <th><%= order_detail.amount %>個</th>
                  <th><%= order_detail.price * order_detail.amount %>円</th>
              </tr>
              <% end %>
          </table>
      </div>
    </div>
  </div>
</body>
