<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-5 col-3 text-center text-color">ログイン</h4>
      <h5 class="mt-5 mb-4 ml-4 col-4 text-center text-color">会員の方はこちらからログイン</h5>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mb-1">
            <%= f.label :"メールアドレス", class: 'col-3' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'rounded', placeholder: "sample@examle.com" %>
          </div>
  
            <div class="field mb-1">
            <%= f.label :"パスワード(6文字以上)", class: 'col-3' %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'rounded' %>
          </div>
  

  <div class="actions">
    <%= f.label :"　", class: 'col-3' %>
    <%= f.submit "ログイン", class: 'btn btn-primary col-2' %>
  </div>
<% end %>


      <h4 class="mt-5 mb-4 ml-4 col-4 text-center login-color">会員登録がお済みでない方</h4>
        <div class="ml-5">
          <p><%= link_to "こちら", new_customer_registration_path, class: 'text-decolation' %>からログインしてください。</p>
        </div>

  </div>
  </div>
</div>