
<h1>商品一覧</h1>
 <div class="container mt-3">
       <h3 class="text-color text-center col-3 pt-2 pb-2 rounded-pill"><strong>新着商品</strong></h3>
       <div class="row">
        <% @items.each do |item| %>
        <div class="card-group">
          <div class ="card card border-light mb-3 ml-2 mr-2">
            <div class ="card-img-top">
              <%= link_to public_item_path(item.id) do %>
                  <% if item.image.attached? %>
                  <%=image_tag item.image, size: "200x200" %>
                  <% else %>
                  <%= image_tag 'no_image', size: "200x200" %>
                  <% end %>
              <% end %>
            </div>
                  <div class="card-body">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text">
                   ¥<%= item.add_tax_sales_price.to_s(:dalimited) %>
                  </p>
              </div>
              </div>
            </div>
                  <% end %>
         </div>
      </div>