<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>

      <li>
        <%= link_to "マイページ",  public_customer_path(current_customer.id) %>
      </li>
      <li>
        <%= link_to "商品一覧",  "" %>
      </li>
      <li>
        <%= link_to "カート",  "" %>
      </li>
      <li>
        <%= link_to "ログアウト",  destroy_customer_session_path, method: :delete %>
      </li>


      <% elsif admin_signed_in? %>
      <li>
        <%= link_to "商品一覧", admin_items_path %>
      </li>
      <li>
        <%= link_to "会員一覧", admin_customers_path %>
      </li>
      <li>
        <%= link_to "注文一覧", admin_path %>
      </li>
       <li>
        <%= link_to "ジャンル一覧", admin_genres_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to "About",  public_about_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", customer_session_path %>
      </li>

      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
